@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Dancing+Script:wght@500&family=Nunito:wght@400;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

.diary-title {
  font-family: 'Dancing Script', cursive;
}
